ul {
	width: 50%;
	float: left;
	margin: 0 0 55px 0;
	padding: 0;
	list-style: none;

	li {
		display: block;
		padding: 0;
		color: #666;
		font-size: 12px;
		line-height: 24px;
		font-weight: @font-light;
		background: url('../img/image-sprite.png') no-repeat;

		&.list-title {
			font-size: 16px;
			font-weight: @font-semibold;
			margin-bottom: 16px;
			background: none;
		}
		&.telephone {
			width: 100%;
			background-position: 0 0;
			padding: 0 0 0 34px;
			margin: 0 26px 0 0;

			a { padding: 0; }
		}
		&.email { background-position: 0 -24px; }
		&.stackoverflow { background-position: 0 -48px; }
		&.github { background-position: 0 -72px; }
		&.twitter { background-position: 0 -96px; }
		&.linkedin { background-position: 0 -121px; }
		&.stackoverflow, &.github, &.twitter, &.linkedin {
			float: left;
			width: 50%;
		}

		p {
			
		}

		a {
			color: #666;
			padding-left: 34px;
			text-decoration: none;
			.inlineBlock();
		}
	}

	&.network-list li a {
		margin-right: 26px;
		padding-left: 26px;
	}
}